$primary: #425D3C;

$border: #DDE2EF;

$background: #F8F9FA;

$login-highlight: #DAE281;

// textos
$text-dark: #1f1f1f;
$text-light: #ffffff;

// sidebar
$sidebar-bg: $primary;
$sidebar-text: $text-light;