.conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .conteudo-voltar {
        margin-top: 10px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
        }

        h2 {
            font-size: 18px;
        }
    }

    .conteudo-inputs {

        .cont-input {
            min-height: 100px;
        }

        .text-erro {
            display: block;
            margin-top: 4px;
            color: #f31313;
            font-size: 12px;
        }

    }



}