.conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .conteudo-voltar {
        margin-top: 10px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
        }

        h2 {
            font-size: 18px;
        }
    }

    .conteudo-inputs {

        .cont-input {
            min-height: 100px;
        }

        .text-erro {
            display: block;
            margin-top: 4px;
            color: #f31313;
            font-size: 12px;
        }

        .sucesso,
        .erro {
            padding: 10px;
            border-radius: 8px;
            text-align: center;
            font-size: 17px;
        }

        .sucesso {
            background: #d1e7dd;
            color: #0f5132;
        }

        .erro {
            background: #f8d7da;
            color: #842029;
        }


    }



}