.conteudo {
    display: flex;
    flex-direction: column;
    gap: 19px;

    .conteudo-voltar {
        margin-top: 10px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
        }

        h2 {
            font-size: 18px;
        }
    }

    .conteudo-inputs {

        .sucesso,
        .erro {
            padding: 10px;
            border-radius: 8px;
            text-align: center;
            font-size: 17px;
        }

        .sucesso {
            background: #d1e7dd;
            color: #0f5132;
        }

        .erro {
            background: #f8d7da;
            color: #842029;
        }

    }

    .conteudo-botoes {
        display: flex;
        justify-content: flex-end;
        gap: 8px;


    }

    .conteudo-lote {
        background: #233824;
        border-radius: 8px;
        padding: 5px;
        margin-top: 30px;

        .cont-titulo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            margin: 0px 5px;

            h2 {
                font-size: 18px;
                color: #f5f4f4;
                margin: 0;
            }

        }

        .cont-formulario {
            background: #ccc;
            padding: 16px;
            border-radius: 8px;

            textarea {
                min-height: 180px;
                resize: none;
            }

        }

    }

    .conteudo-tabela {
        margin-top: 20px;
    }



    .modal-backdrop {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1050;
    }

    .modal-box {
        background: white;
        padding: 28px;
        border-radius: 8px;
        width: 450px;
        max-width: 90%;

        .conteudo-botoes-modal {
            display: flex;
            justify-content: end;
            gap: 10px;
        }

    }

}