@use '../../styles/variaveis' as c;

.navbar {
    border: 1px solid c.$border;
    height: 60px;
    background: #fff !important;

    .container-fluid {
        display: flex;
        align-items: center;
    }

    .botoes {
        display: flex;
        justify-content: end;
        width: 100%;
        gap: 25px;
    }

}

@media (max-width: 991px) {

    .navbar {
        .container-fluid {
            justify-content: space-between;
        }

        .botoes {
            width: auto;
        }

    }

}