@use '../../styles/variaveis' as c;

.navbar {
    border: 1px solid c.$border;
    height: 90px;
    background: #fff !important;
    margin: 20px;
    border-radius: 20px;

    .container-fluid {
        display: flex;

        h2 {
            font-size: 14px;
            margin: 0;
        }

    }

    .botoes {
        display: flex;
        gap: 25px;
    }

}

@media (max-width: 991px) {

    .navbar {
        .container-fluid {
            justify-content: space-between;
        }

        .botoes {
            width: auto;
        }

    }

}