@use '../../../../styles/variaveis' as c;

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 19px;

    .conteudo-voltar {
        margin-top: 10px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
        }

        h2 {
            font-size: 18px;
        }
    }

    .conteudo-detalhe-lote {
        display: flex;
        flex-direction: column;
        padding: 25px;
        border: 1px solid c.$border;
        border-radius: 20px;
        gap: 10px;
        background: #fff;

        .card-detalhe-lote {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cont-titulo-lote {
                display: flex;
                flex-direction: column;
                gap: 15px;

                h2 {
                    font-size: 17px;
                    margin: 0;
                    color: #7d8b9e;
                }

                .cont-icon-lote {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    h1 {
                        font-size: 28px;
                        font-weight: 800;
                        margin: 0;
                    }

                    .cont-status-lote {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        padding: 12px;
                        border-radius: 25px;

                        span {
                            font-weight: 600;
                        }
                    }

                    .status-andamento {
                        background: #e8f1ff;
                        border: 1px solid #4f7bff;
                        color: #4f7bff;
                    }

                }

                p {
                    margin: 0;
                    color: #6c757d;
                }
            }

            .cont-botoes-lote {
                display: flex;
                flex-direction: column;

                .card-btns {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    button {
                        padding: 10px 25px;
                        min-width: 200px;
                        font-size: 18px;
                        background: none;
                        border: 1px solid #70859e;
                        color: #243042;
                        border-radius: 20px;
                    }

                }

            }


        }

        .conteudo-inputs-lote {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .cont-cards-lotes {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
            }

            .card-input {
                display: flex;
                flex-direction: column;
                padding: 15px;
                border: 1px solid #6f8096;
                border-radius: 20px;
                background: #fafcff;

                label {
                    font-weight: 500;
                    font-size: 17px;
                    color: #70859e;
                }

                input {
                    height: 55px;
                    border: none;
                    outline: none;
                    background: #fafcff;
                    font-size: 19px;
                    font-weight: 700;
                }

            }

            .sucesso,
            .erro {
                padding: 10px;
                border-radius: 8px;
                text-align: center;
                font-size: 17px;
            }

            .sucesso {
                background: #d1e7dd;
                color: #0f5132;
            }

            .erro {
                background: #f8d7da;
                color: #842029;
            }

        }

    }

    /* 
    .sucesso,
    .erro {
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        font-size: 17px;
    }

    .sucesso {
        background: #d1e7dd;
        color: #0f5132;
    }

    .erro {
        background: #f8d7da;
        color: #842029;
    }
 */
    .conteudo-protocolo {
        background: #fff;
        padding: 25px;
        border: 1px solid c.$border;
        border-radius: 20px;
        margin-top: 30px;

        .cont-titulo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            margin: 0px 5px;

            .cont-descricao-titulo {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h3 {
                    font-size: 17px;
                    color: #7d8b9e;
                }

                h2 {
                    font-size: 25px;
                    color: #243042;
                    margin: 0;
                }

                p {
                    margin: 0;
                    color: #6c757d;
                }
            }

            button {
                padding: 10px 25px;
                min-width: 200px;
                font-size: 18px;
                background: none;
                border: 1px solid #70859e;
                color: #243042;
                border-radius: 20px;
            }

        }

        .cont-formulario {
            background: linear-gradient(135deg,
                    #ffffff 0%,
                    #f7fbff 40%,
                    #eef7ff 100%);
            border: 1px solid c.$border;
            padding: 20px;
            border-radius: 8px;

            h2 {
                font-size: 20px;
            }

            p {
                margin-bottom: 15px;
            }

            label {
                color: #7a8796;
                font-weight: 600;
            }

            input {
                height: 55px;
            }

            textarea {
                resize: none;
            }

            button {
                padding: 10px 25px;
                min-width: 200px;
                font-size: 18px;
                background: none;
                border: 1px solid #70859e;
                color: #243042;
                border-radius: 20px;
            }

        }
    }


    .conteudo-protocolos-registrados {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .conteudo-cards-protocolos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            .card-protocolo {
                display: flex;
                flex-direction: column;
                gap: 20px;
                background: #fff;
                padding: 20px 15px;
                border: 1px solid c.$border;
                border-radius: 8px;


                .card-titulo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h2 {
                        font-size: 17px;
                        color: #243042;
                        margin: 0;
                    }

                    span {
                        padding: 10px;
                        border: 1px solid #e2931c;
                        color: #e2931c;
                        background: #f5f2da;
                        border-radius: 25px;
                        font-size: 13px;
                    }

                    margin-bottom: 15px;

                    /* .andamento {
                        background: #198754;
                    }

                    .finalizado {
                        background: #6c757d;
                    }

                    .cancelado {
                        background: #dc3545;
                    }  */
                }

                .cont-cards {
                    gap: 25px;
                    justify-content: center;

                    .card-input {
                        display: flex;
                        flex-direction: column;
                        padding: 15px;
                        border: 1px solid #6f8096;
                        border-radius: 20px;
                        background: #f1f4f8;
                        min-width: 230px;

                        label {
                            font-weight: 500;
                            font-size: 17px;
                            color: #70859e;
                        }

                        p {
                            margin: 0;
                            color: #6c757d;
                        }

                    }
                }

                .cont-botao {
                    display: flex;
                    justify-content: end;

                    button {
                        padding: 10px 25px;
                        min-width: 150px;
                        font-size: 18px;
                        background: none;
                        border: 1px solid #70859e;
                        color: #243042;
                        border-radius: 20px;
                    }

                }

            }

        }


    }

    .loading-overlay {
        position: fixed;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(37, 36, 36, 0.274);
        z-index: 9999;
    }

    .spinner-loading {
        width: 6rem;
        height: 6rem;
        color: #a3a7a2 !important;
    }

}