.conteudo {
    display: flex;
    flex-direction: column;
    gap: 19px;

    .conteudo-voltar {
        margin-top: 10px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
        }

        h2 {
            font-size: 18px;
        }
    }

    .conteudo-detalhe-lote {
        /* border-bottom: 1px solid #0a1b0d;
        padding-bottom: 8px; */

        .cont-botoes {
            display: flex;
            justify-content: end;
        }
    }

    .sucesso,
    .erro {
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        font-size: 17px;
    }

    .sucesso {
        background: #d1e7dd;
        color: #0f5132;
    }

    .erro {
        background: #f8d7da;
        color: #842029;
    }

    .conteudo-protocolo {
        background: #233824;
        border-radius: 8px;
        padding: 5px;
        margin-top: 30px;

        .cont-titulo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            margin: 0px 5px;

            h2 {
                font-size: 18px;
                color: #f5f4f4;
                margin: 0;
            }
        }

        .cont-formulario {
            background: #ccc;
            padding: 16px;
            border-radius: 8px;

        }
    }


    .conteudo-protocolos-registrados {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h3{
            font-size: 17px;
        }

        .conteudo-cards-protocolos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .card-protocolo {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 20px 15px;
                border: 1px solid #e9ecef;
                border-radius: 8px;


                .card-titulo {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .bolinha {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        display: inline-block;
                    }

                    .andamento {
                        background: #198754;
                    }

                    .finalizado {
                        background: #6c757d;
                    }

                    .cancelado {
                        background: #dc3545;
                    }

                    p {
                        margin: 0;
                    }
                }

                p {
                    margin: 0;
                    color: #6c757d;
                }

                span {
                    color: #212529;
                }

                .cont-botao{
                    display: flex;
                    justify-content: end;
                }

            }

        }


    }


}