@use '../../../styles/variaveis' as c;

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .conteudo-saudacao {
        h2 {
            font-size: 13px;
            margin-bottom: 8px;
        }

        h1 {
            font-size: 24px;
            font-weight: 700;
        }

        p {
            font-size: 14px;
        }
    }

    .conteudo-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        .card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 25px;
            border: 1px solid c.$border;
            border-radius: 20px;

            h2 {
                font-size: 17px;
                color: #5c5e5c;
                margin: 0;
            }

            .card-icone {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    height: 40px;
                    width: 40px;
                    background: #dfe7d8;
                    color: #30532c;
                    padding: 15px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .numero {
                font-weight: 700;
                font-size: 25px;
            }

        }

    }

    .conteudo-dgs-atendimentos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        .card {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            gap: 10px;
            padding: 25px;

            //inicio card dg pendente
            &.dg-pendente {
                .header-dg-pendente {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        font-size: 18px;
                    }

                    span {
                        width: 80px;
                        background: #fdd784;
                        color: #ca8f0f;
                        border-radius: 25px;
                        padding: 10px;
                    }

                }

                .desc-pendentes {
                    display: flex;
                    flex-direction: column;

                    .card-pendente {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #ebf3eb;
                        border: 1px solid #5c5e5c;
                        border-radius: 20px;
                        padding: 10px;

                        .card-pendente-icone {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            span {
                                width: 50px;
                                height: 50px;
                                background: #fdd784;
                                color: #b47e09;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            h3 {
                                font-size: 18px;
                                font-weight: 600;
                            }

                            p {
                                margin: 0;
                                font-size: 15px;
                            }

                        }

                        .desc-passos {
                            background: #fdd784;
                            color: #b47e09;
                            padding: 5px 11px;
                            border-radius: 25px;
                        }
                    }

                }

            }

            &.proximo-atendimento {
                .header-prox-atendimento {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h3 {
                        font-size: 18px;
                    }

                    span {
                        width: 120px;
                        background: #dcf3d3;
                        color: #264e32;
                        border-radius: 25px;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-weight: 600;
                    }
                }

                .card-prox-atendimento {
                    .card-icone {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        background: #ebf3eb;
                        border: 1px solid #5c5e5c;
                        border-radius: 20px;
                        padding: 10px;

                        span {
                            width: 50px;
                            height: 50px;
                            background: #dcf3d3;
                            color: #264e32;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        h3 {
                            font-size: 18px;
                            font-weight: 600;
                        }

                        p {
                            margin: 0;
                            font-size: 15px;
                        }

                    }
                }



            }

            /*  .cont-botao {
                display: flex;
                justify-content: end;

                button {
                    background: #425D3C;
                    border: 2px solid #1C2B1A;
                    height: 35px;
                    border-radius: 25px;
                    font-size: 17px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            } */

            .cont-info {
                p {
                    margin: 0;
                    font-weight: 600;
                }
            }


        }


    }

    .conteudo-protocolos-result {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;

        .card {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 25px;

            h3 {
                font-size: 18px;
            }

            .cont-fazenda {
                p {
                    margin: 0;
                }
            }

            .cont-recentes {
                p {
                    margin: 0;
                }
            }

        }

    }



}