.app-container {
    display: flex;
    max-height: 100vh;
}

app-sidebar {
    width: 260px;
    flex-shrink: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    min-height: 100vh;
}

app-header {
    flex-shrink: 0;
}

.page-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

app-footer {
    flex-shrink: 0;
}

@media (max-width: 991px) {

    app-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 2000;
        width: 0;
    }

    .main-content {
        width: 100%;
        margin-left: 0;
    }
}