.app-container {
    display: flex;
    min-height: 100vh;
}

app-sidebar {
    width: 260px;
    flex-shrink: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0; /* IMPORTANTE */
}

/* MOBILE */
@media (max-width: 991px) {

    app-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 2000;
        width: 0; /* tira do fluxo */
    }

    .main-content {
        width: 100%;
        margin-left: 0;
    }
}