.conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .conteudo-botao-criar-fazenda {
        margin: 15px 0;

        button {
            background: #425D3C;
            border: 2px solid #1C2B1A;
            height: 35px;
            border-radius: 25px;
            font-size: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    .conteudo-tabela {}

    .loading-overlay {
        position: fixed;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(37, 36, 36, 0.274);
        z-index: 9999;
    }

    .spinner-loading {
        width: 6rem;
        height: 6rem;
        color: #a3a7a2 !important;
    }

}