/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}


body.darkMode {
  background: #000;
  color: #fff;
}

body.darkMode .app-container {
  background: #000;
  color: #fff;
}