.conteudo{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .conteudo-inputs{

    }

    .conteudo-botoes{
        display: flex;
        justify-content: flex-end;
        gap: 8px;


    }


}